:root {
  --base-color-accent: #ff8b00;
  --base-color-accent-hover: #b36100;
  --white: #fff;
  --black: #333333;
  --cloud: #f4f4fd;
  --light-slate: #8e8f99;
}

@import url("../css2");

@font-face {
  font-family: "BankGothic";
  src: url("../fonts/bankGothic/DEMO-bgt45.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-text);
  width: 100%;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
p {
  font-size: 18px;
}
a:hover {
  text-decoration: unset;
}
.container {
  width: 100%;
  @media screen and (max-width: 1000px) {
    max-width: 75.625rem !important;
  }
}
.ftco-cover-1-section {
  padding: 30px 15px;
}

.main_title_h1 {
  color: var(--white);
  margin-bottom: 1rem;
}

.btn-request {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color-accent);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: larger;
  cursor: pointer;
  transition: 0.25s;
  outline: none;
  position: relative;
  width: fit-content;
  clip-path: polygon(
    5px 0,
    calc(100% - 5px) 0,
    100% 5px,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    5px 100%,
    0 calc(100% - 5px),
    0 5px
  );
}
.btn-request:hover {
  background-color: var(--base-color-accent-hover);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);
  outline: invert;
}

.btn-request:hover {
  outline: none;
}
/* svg btn in the hero */
.btn-svg {
  width: 21px;
  height: auto;
  transition: opacity 0.3s ease;
  margin-right: 15px;
}
.btn-request:hover .btn-svg {
  opacity: 0;
}

.btn-request:hover::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../images/icons/email-close-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

dialog {
  width: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 3rem;
  background: white;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-article {
  font-size: larger;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--black);
  margin-bottom: 16px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--black);
  display: block;
  margin-bottom: 4px;
  text-align: initial;
}

.modal-div-input {
  position: relative;
}

.modal-input-window {
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 10px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--base);
}

.modal-area-window {
  width: 100%;
  height: 75px;
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-window:focus,
.modal-area-window:focus {
  border: 1px solid var(--base-color-accent-hover);
}

.mobal-btn-submit {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: var(--base-color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  padding: 16px 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 428px) {
  .modal {
    min-height: 220px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    min-height: 584px;
    min-width: 220px;
  }
}

.direction {
  display: flex;
  gap: 15px;
}
input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.09);
  cursor: pointer;
  transition: 0.3s;
}
input[type="radio"]:checked {
  background-color: var(--base-color-accent-hover);
  border-radius: 50%;
}

.backdrop-form {
  margin-bottom: 8px;
}
.input-transport {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.button-form-mob {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 999;
  background: var(--base-color-accent);
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  border-color: transparent;
  padding: 0;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--base-color-accent-hover);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transform: translateY(-4px);
  }
}
.mob-btn-svg {
  width: 25px;
  height: 30px;
  transition: opacity 0.3s ease;
}
.button-form-mob:hover .mob-btn-svg {
  opacity: 0;
}

.button-form-mob:hover::before {
  content: "";
  display: flex;
  width: 25px;
  height: 30px;
  background-image: url("../images/icons/email-close-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-primary {
  font-size: clamp(1.75rem, 1.5687rem + 0.9669vw, 2.1875rem);
  font-family: "BankGothic", sans-serif;
  font-weight: 700;
}

.toggle-button.d-inline-block.d-lg-none {
  z-index: 999;
}

.logo-svg {
  margin: 0 10px 0 0;
  @media (min-width: 300px) {
    width: 35px;
  }

  @media (min-width: 400px) {
    width: 50px;
  }
}

.container-card {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.card-item {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}
.card-item-info {
  padding: 15px 30px;

  p {
    text-align: justify;
    @media (max-width: 330px) {
      max-width: 100%;
    }
  }

  @media screen and (min-width: 1001px) {
    width: 60%;
  }
}
.card-item-info-h2 {
  font-weight: 500;
  color: var(--base-color-accent);
  &:hover {
    color: var(--base-color-accent-hover);
  }
  @media screen and (max-width: 1000px) {
    font-size: 25px;
  }
}

.card-item-img-img {
  width: 100%;
  height: 100%;
}

.block-freight {
  position: relative;
  overflow: hidden;
  display: block;
}

.block-freight::before {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid transparent;
  pointer-events: none;
  z-index: 999;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.block-freight:hover:before,
.block-freight-div:hover:before {
  border-color: var(--base-color-accent);
  background-color: rgba(0, 0, 0, 0.5);
}
.block-freight-div-h3 > a:hover {
  color: var(--base-color-accent);
  font-weight: 700;
  font-size: 30px;
}
.block-freight-div {
  position: relative;
}
.block-freight-div::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  border: 2px solid transparent;
  pointer-events: none;
  z-index: 999;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.block-freight-div-h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.block-freight-div-h3 > a {
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
}

.img-item {
  margin-bottom: 0;
  width: 100%;
  @media (min-width: 300px) {
    height: clamp(12.5rem, 50vw + 3.125rem, 25rem);
  }
  @media (min-width: 767px) {
    height: 400px;
  }
  @media (min-width: 992px) {
    height: 200px;
  }
  @media (min-width: 992px) and (max-width: 1000px) {
    height: 400px;
  }
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  font-size: 2em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.owl-nav .owl-prev {
  position: absolute;
  left: -25px;
}

.owl-nav .owl-next {
  position: absolute;
  right: 0px;
}

.main-section {
  transition: background-image 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.main-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 44%;
  height: 100%;
  backdrop-filter: blur(1px);
  z-index: 1;
}
@media screen and (max-width: 770px) {
  .main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
  }
}
.main-section.background-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/main-bg/bg-ship.jpeg");
}

.main-section.background-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/main-bg/bg-plane.jpg");
}

.main-section.background-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/main-bg/bg-truck.jpeg");
}

.main-section.background-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/main-bg/bg-rail.jpg");
}
.main-section.background-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/main-bg/bg-multi.jpeg");
}
.about-section-p {
  text-align: justify;
}
.section-footer {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.footer-heading {
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .odd {
    order: 1;
  }
}

@media (min-width: 999px) {
  .owl-carousel .owl-item:last-child {
    margin-top: 0;
    margin-right: 44.5% !important;
    margin-left: auto;
  }
  .card-item-img-img {
    height: clamp(8.5rem, 23.778vw + 3.744rem, 21.875rem);
  }
}
.footer-icons {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  @media (min-width: 767px) and (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    width: 220px;
  }
}
.footer-icons a {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.features-col {
  margin-left: 0rem !important;
  @media (max-width: 767px) {
    width: fit-content;
    margin-right: calc(25px + (228 - 25) * ((100vw - 360px) / (767 - 360)));
    text-align: center;
  }
}
footer {
  .list-unstyled {
    display: flex;
    width: 175px;
  }
  .list-unstyled li:first-child {
    margin-right: 15px;
  }
}
.aboutUs-col {
  width: 250px;
  text-align: justify;
}
.fiata-img {
  height: 16px;
}
